// Colors
// ------------------------

$grey: #25292A;
$light-grey: #3E4545;
$lighter-grey: #839393;
$dark-grey: #111313;
$darker-grey: #010101;
$white: #F0F0F0;

$orange: #E08447;
$blue: #1E89B7;
$green: #6EB85F;
$purple: #9D3F51;