// Colors
// ------------------------

$grey: #25292A;
$light-grey: #3E4545;
$lighter-grey: #839393;
$superlight-grey: #D0D0D0;
$dark-grey: #111313;
$darker-grey: #010101;
$white: #F0F0F0;

$orange: #E08447;
$dark-orange: #C0703B;
$blue: #1E89B7;
$dark-blue: #176D93;
$green: #6EB85F;
$dark-green: #59954D;
$purple: #f26161;
$dark-purple: #bd4b4b;
$yellow: #f2ec61;
$dark-yellow: #c8c350;
