#collectors{
    
    padding-top: 40px;   

    .back{
        display: inline-block;
        margin-bottom: 20px;
    } 

    .collector{
        margin-bottom: 10px;
    }

    .avatar{
        margin: 0px auto 0;
        width: 100%;
        height: 200px;
        border-radius: 0;
    }

    a{
        color: rgb(51,51,51);
    }
}