.collector{   

    .back{
        display: inline-block;
        margin-bottom: 20px;
    } 

    .collector{
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .avatar{
        margin: 0px auto 0;
        width: 100%;
        height: 150px;
        border-radius: 0;
    }

    a{
        color: rgb(51,51,51);
    }
}