.content-area {
    margin-left: 65px;
    transition: .2s all;

    @media (max-width: 991px) {
        margin-left: 0;

        &.active{
            margin-left: 65px;
        }
    }
}
.content {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: 991px) {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
    }

    &.full-height {
        height: 100%;
    }
    .loading {
        font-size: 42px;
        margin-top: 10%;
    }
    .search-results-table {
        td {
            vertical-align: middle;
        }
        .cover {
            width: 80px;
            padding: 0;
            img {
                width: 70px;
            }
        }
        .actions {
            width: 200px;
        }
        .quick-add {
            margin-left: 5px;
        }
    }

    hr{
        border-top: 1px solid #DDD;
    }
}

.textDevider {
    width: 100%;
    height: 13px;
    border-bottom: 1px solid #DDD;
    text-align: center;
    margin-bottom: 25px;
    span {
        font-size: 18px;
        background-color: $white;
        padding: 0 10px;
        color: #DDD;
    }
}
