.content-area{
  height: calc(100% - 51px);
}

.content{
  padding-top: 30px;
  padding-bottom: 30px;
  height: calc(100% - 75px);
  overflow: scroll;

  &.full-height{
    height: 100%;
  }

  .loading{
    font-size: 42px;
    margin-top: 10%;
  }

  .search-results-table{
    td{
      vertical-align: middle;
    }

    .cover{
      width: 80px;
      padding: 0;

      img{
        width: 70px;
      }
    }

    .actions{
      width: 200px;
    }

    .quick-add{
      margin-left: 5px;
    }
  }
}