html, body{
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: $white;
}

a:hover{
  text-decoration: none;
}

.orange{
  color: $orange;

  &.hover{
    color: $lighter-grey;

    &:hover{
      color: $orange;
    }
  }
}
.orange-bg{
  background-color: $orange;
}
.blue{
  color: $blue;

  &.hover{
    color: $lighter-grey;

    &:hover{
      color: $blue;
    }
  }
}
.blue-bg{
  background-color: $blue;
}
.green{
  color: $green;

  &.hover{
    color: $lighter-grey;

    &:hover{
      color: $green;
    }
  }
}
.green-bg{
  background-color: $green;
}
.purple{
  color: $purple;

  &.hover{
    color: $lighter-grey;

    &:hover{
      color: $purple;
    }
  }
}
.purple-bg{
  background-color: $purple;
}

.no-padding{
  padding: 0;
}

.full-height{
  height: 100%;
}

.no-margin{
    margin: 0;
}

.margin-top-50{
  margin-top: 50px;
}

.padding30{
  padding: 0 30px;
}

.padding15{
  padding: 0 15px;
}

p.placeholder{
  font-size: 32px;
  color: #CCC;

  &.small{
    font-size: 18px;
  }
}
