#jukebox{
    .videoBg {
        height: calc(100% - 71px);
        position: absolute;
        width: calc(100% - 65px);
        overflow: hidden;

        > div {
            height: 100%;
            width: 100%;
        }
    }

    .jukeboxPlayer {
        &:hover{
            .vinylDetails {
                opacity: 1;
            }
        }
    }

    .vinylDetails {
        opacity: 0;
        transition: .2s all;
        position: absolute;
        box-sizing: border-box;
        width: calc(100% - 65px);
        padding: 20px;
        bottom: 0;
        background-color: rgba(0,0,0,.5);

        .vinylTitle {
            font-weight: 200;
            color: white;
            font-size: 22px;
            line-height: 46px;
        }

        .vinylMeta {
            color: #CCC;
        }
    }
}
