#welcome {
    height: 100%;
    .header {
        background-image: url('/images/header_BG.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 600px;
        color: $white;
        overflow: hidden;
        position: relative;

        #bgvid {
            width: 120%;
        }

        .header-menu {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100px;

            .navbar{
                background-color: transparent;

                .btn-default{
                    background-color: transparent;
                    border: 1px solid $white;
                    padding: 5px 10px;
                    font-size: 14px;
                    margin: 10px 0;

                    &:hover{
                        background-color: $white;
                        color: $grey;
                    }
                }

                a{
                    color: $white;
                    opacity: .5;
                    transition: .2s all;

                    &:hover{
                        opacity: 1;

                    }
                }
            }
        }
        .header-content {
            position: absolute;
            top: calc(50% - 200px);
            width: 100%;
            height: 300px;
            text-align: center;

            @media (max-width: 320px) {
                top: calc(50% - 230px);
            }

            @media (max-width: 375px) {
                top: calc(50% - 260px);
            }

            .logo {
                width: 150px;
                padding: 20px 0;
                display: inline-block;
                img {
                    width: 100%;
                }

                @media (max-width: 320px) {
                    width: 80px;
                }
            }

            h1 {
                font-size: 2em;
                letter-spacing: 2px;
                text-align: center;
            }
            h2 {
                opacity: .6;
                text-align: center;
                font-weight: lighter;
                font-size: 1.4em;
                letter-spacing: 1px;
            }
        }
        .header-stats {
            width: 100%;
            position: absolute;
            bottom: 20px;
            text-align: center;
            .stat {
                width: 100px;
                display: inline-block;
                span {
                    font-size: 24px;
                }
                small {
                    font-size: 14px;
                    color: #808080;
                }
            }
        }
    }
    .cta {
        text-align: center;
        .btn.btn-primary.btn-header {
            margin-top: 30px;
            border: 1px solid $white;
            height: 50px;
            width: 170px;
            font-weight: lighter;
            line-height: 25px;
            border-radius: 4px;
            background-color: transparent;
            transition: 0.4s all;
            &.dark {
                border: 1px solid #333;
                color: #333;
            }
            &:hover {
                color: $white;
                border: 1px solid $blue;
                background-color: $blue;
            }
        }
    }
    .intro {
        color: $grey;
        margin-top: 100px;
        padding-bottom: 100px;
        i {
            font-size: 52px;
            margin-bottom: 40px;
        }
        p {
            font-weight: 200;
            font-size: 18px;
        }
    }
    .feature {
        margin: 0;
        padding: 50px 0;
        border-bottom: 1px solid #CCC;
        img {
            box-shadow: 5px 10px 15px rgba(0,0,0,.2);
        }
        .description {
            font-size: 18px;
            color: $lighter-grey;
            margin-top: 20px;
            line-height: 2em;

            @media (max-width: 768px) {
                margin-bottom: 30px;
            }
        }
    }
    .headline {
        font-size: 48px;
        margin-bottom: 0;
    }
    .subheadline {
        font-size: 16px;
        color: #AAA;
        margin-bottom: 50px;
    }
    .latestVinyls {
        padding: 50px 0;
    }
    .latestMembers {
        padding: 50px 0;
        background-color: $grey;
        color: $white;
    }
    .footer {
        padding: 20px 0 0;
        p {
            font-weight: lighter;
            margin-top: 20px;
            color: #A0A0A0;
        }
    }
}
