.header{
  background-image: url('/images/header_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 0;
  height: 400px;
  color: $white;

  h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    margin-top: 100px;
  }
}