#welcome{
  height: 100%;

  .header{
    background-image: url('/images/header_BG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    color: $white;
    overflow: hidden;

    #bgvid{
      height: 100%;
    }

    .header-menu{
      padding: 20px 40px;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100px;

      .logo{
        width: 80px;
        display: inline-block;

        img{
          width: 100%;
        }
      }
    }

    .header-content{
      position: absolute;
      top: calc(50% - 150px);
      width: 100%;
      height: 200px;
      text-align: center;

      h1{
        text-transform: uppercase;
        text-align: center;
        font-size: 3em;
      }

      h2{
        color: #808080;
        text-align: center;
        font-weight: lighter;
        font-size: 2em;
      }

      .cta{
        .btn.btn-primary.btn-header{
          margin-top: 50px;
          border: 1px solid $white;
          height: 60px;
          width: 200px;
          font-weight: lighter;
          line-height: 35px;
          border-radius: 4px;
          background-color: transparent;
          transition: 0.4s all;

          &:hover{
            border: 1px solid $blue;
            background-color: $blue;
          }
        }
      }
    }

    .header-stats{
      width: 100%;
      position: absolute;
      bottom: 20px;
      text-align: center;

      .stat{
          width: 100px;
          display: inline-block;

          span{
            font-size: 24px;
          }

          small{
            font-size: 14px;
            color: #808080;
          }
      }
    }
    
  }

  .intro{
    color: $grey;
    margin-top: 100px;
    padding-bottom: 100px;

    i{
      font-size: 52px;
      margin-bottom: 40px;
    }

    p{
      font-weight: 200;
      font-size: 18px;
    }
  }

  .feature{
    margin-top: 50px;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
    height: 200px;

    img{
      box-shadow: 5px 10px 15px rgba(0,0,0,.2);
    }

    .description{
      margin-top: 20px;
    }
  }

  .latestVinyls{
    padding: 50px 0;

    .headline{
      font-size: 48px;
      margin-bottom: 0;
    }

    .subheadline{
      font-size: 16px;
      color: #AAA;
      margin-bottom: 50px;
    }
  }

  .latestMembers{
    padding: 50px 0;
    text-align: center;
    background-color: $grey;
    color: $white;

    .avatar{
      margin: 0 auto 15px;
    }

    a{
      color: $white;
    }
  }

  .footer{
    padding: 20px 0 0;

    p{
      font-weight: lighter;
      margin-top: 20px;
      color: #A0A0A0;
    }
  }
}
