html, body {
  height: 100%; }

body {
  background-color: #F0F0F0; }

a:hover {
  text-decoration: none; }

.orange {
  color: #E08447; }

.orange-bg {
  background-color: #E08447; }

.blue {
  color: #1E89B7; }

.blue-bg {
  background-color: #1E89B7; }

.green {
  color: #6EB85F; }

.green-bg {
  background-color: #6EB85F; }

.purple {
  color: #9D3F51; }

.purple-bg {
  background-color: #9D3F51; }

.flash-message {
  position: fixed;
  top: 80px;
  left: 50%;
  min-width: 300px;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: inline-block;
  margin: 0 auto;
  z-index: 1; }

.avatar {
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .avatar.lg {
    height: 200px;
    width: 200px; }
  .avatar.md {
    height: 100px;
    width: 100px; }
  .avatar.sm {
    height: 50px;
    width: 50px; }
  .avatar.tiny {
    height: 20px;
    width: 20px; }

.navbar {
  margin-bottom: 0;
  background-color: #111313; }
  .navbar .avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }
  .navbar .navbar-brand {
    padding: 10px 20px 10px 15px; }
    .navbar .navbar-brand img {
      width: 30px; }

.panel-body .avatar {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px; }

.sidebar {
  background-color: #25292A;
  min-height: 100%;
  padding: 20px 0;
  color: #f0f0f0; }
  .sidebar p.lead {
    margin-top: 15px; }
  .sidebar hr {
    border-top: 1px solid #3E4545; }
  .sidebar .navigation {
    margin-bottom: 20px; }
    .sidebar .navigation a:hover {
      text-decoration: none; }
    .sidebar .navigation .button {
      position: relative;
      text-align: left;
      height: 50px;
      line-height: 50px;
      color: #808080;
      background-color: #25292A;
      border-top: 1px solid #3E4545;
      border-bottom: 1px solid #111313; }
      .sidebar .navigation .button:hover, .sidebar .navigation .button.active {
        background-color: #111313;
        border-top: 1px solid #010101; }
      .sidebar .navigation .button.active .triangle {
        display: block;
        position: absolute;
        top: 17px;
        right: -8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 0 7.5px 8px;
        border-color: transparent transparent transparent #111313; }
      .sidebar .navigation .button .triangle {
        display: none; }
      .sidebar .navigation .button i {
        margin: 0 15px; }
