.content-area {
  height: calc(100% - 51px); }

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  height: calc(100% - 60px);
  overflow: scroll; }

html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif; }

body {
  background-color: #F0F0F0; }

a:hover {
  text-decoration: none; }

.orange {
  color: #E08447; }

.orange-bg {
  background-color: #E08447; }

.blue {
  color: #1E89B7; }

.blue-bg {
  background-color: #1E89B7; }

.green {
  color: #6EB85F; }

.green-bg {
  background-color: #6EB85F; }

.purple {
  color: #9D3F51; }

.purple-bg {
  background-color: #9D3F51; }

.no-padding {
  padding: 0; }

.full-height {
  height: 100%; }

#welcome .header {
  background-image: url('/images/header_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 0;
  height: 400px;
  color: #F0F0F0; }
  #welcome .header h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    margin-top: 100px; }
  #welcome .header h2 {
    color: #839393;
    text-align: center; }
  #welcome .header .cta {
    text-align: center;
    margin-top: 110px; }
    #welcome .header .cta .btn.btn-primary.btn-header {
      border: 4px solid #F0F0F0;
      border-color: #F0F0F0;
      height: 70px;
      width: 200px;
      line-height: 40px;
      background-color: #E08447; }
#welcome .intro {
  color: #25292A;
  margin-top: 100px;
  padding-bottom: 100px; }
  #welcome .intro i {
    font-size: 52px;
    margin-bottom: 40px; }
  #welcome .intro p {
    font-weight: 200;
    font-size: 18px; }
#welcome .counter {
  color: #F0F0F0;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #25292A; }
  #welcome .counter span {
    font-weight: normal;
    font-size: 42px; }

.btn {
  border-radius: 0; }
  .btn.btn-primary {
    background-color: #1E89B7;
    border-color: #1E89B7; }

.flash-message {
  position: fixed;
  top: 80px;
  left: 50%;
  min-width: 300px;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: inline-block;
  margin: 0 auto;
  z-index: 1; }

.avatar {
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .avatar.lg {
    height: 200px;
    width: 200px; }
  .avatar.md {
    height: 100px;
    width: 100px; }
  .avatar.sm {
    height: 50px;
    width: 50px; }
  .avatar.tiny {
    height: 20px;
    width: 20px; }

.navbar {
  margin-bottom: 0;
  background-color: #111313;
  border-bottom: 0; }
  .navbar .avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }
  .navbar .navbar-brand {
    padding: 10px 20px 10px 15px; }
    .navbar .navbar-brand img {
      width: 30px; }

.panel-body .avatar {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px; }

.panel.margin-top {
  margin-top: 50px; }

.sidebar {
  background-color: #25292A;
  min-height: calc(100% - 51px);
  padding: 20px 0;
  color: #f0f0f0; }
  .sidebar p.lead {
    margin-top: 15px; }
  .sidebar hr {
    border-top: 1px solid #3E4545; }
  .sidebar form {
    margin-bottom: 20px; }
  .sidebar .navigation {
    margin-bottom: 20px; }
    .sidebar .navigation a:hover {
      text-decoration: none; }
    .sidebar .navigation .button {
      position: relative;
      text-align: left;
      height: 50px;
      line-height: 50px;
      color: #808080;
      background-color: #25292A;
      border-top: 1px solid #3E4545;
      border-bottom: 1px solid #111313; }
      .sidebar .navigation .button:hover, .sidebar .navigation .button.active {
        background-color: #111313;
        border-top: 1px solid #010101; }
      .sidebar .navigation .button.active .triangle {
        display: block;
        position: absolute;
        top: 17px;
        right: -8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 0 7.5px 8px;
        border-color: transparent transparent transparent #111313; }
      .sidebar .navigation .button .triangle {
        display: none; }
      .sidebar .navigation .button i {
        margin: 0 15px; }

.toolbar {
  background-color: #839393;
  color: #F0F0F0;
  padding: 20px 15px; }

.vinyl .cover img {
  width: 100%; }
.vinyl .info {
  margin-top: 8px;
  margin-bottom: 30px; }
  .vinyl .info .artist {
    font-weight: bold; }
