// Base Styles
// ---------------------------------

@import 'base/variables';
@import 'base/mixins';

// Layout Styles
// ---------------------------------

@import 'layout/collectors';
@import 'layout/content';
@import 'layout/general';
@import 'layout/steps';
@import 'layout/welcome';

// Modules
// ---------------------------------

@import 'modules/activities';
@import 'modules/buttons';
@import 'modules/flash';
@import 'modules/general';
@import 'modules/navigation';
@import 'modules/panel';
@import 'modules/sidebar';
@import 'modules/toolbar';
@import 'modules/vinyl';