.collector{   

    .back{
        display: inline-block;
        margin-bottom: 20px;
    } 

    .username{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        display: block;
    }

    .avatar{
        margin: 0px auto 0;
        width: 100%;
        height: 150px;
        border-radius: 0;
    }

    a{
        color: rgb(51,51,51);
    }
}