.collector{

    .back{
        display: inline-block;
        margin-bottom: 20px;
    }

    .username{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        display: block;
    }

    a{
        color: rgb(51,51,51);
    }

    p.h4{
        font-size: 14px;
        margin: 0 0 5px;
    }
}
