.avatar{
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $light-grey;

  &.lg{
    height: 200px;
    width: 200px;
  }

  &.big{
    height: 150px;
    width: 150px;
  }

  &.md{
    height: 100px;
    width: 100px;
  }

  &.sm{
    height: 50px;
    width: 50px;
  }

  &.tiny{
    height: 20px;
    width: 20px;
  }
}