.navbar{

  margin-bottom: 0;
  background-color: $dark-grey;
  border-bottom: 0;

  .avatar{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .navbar-brand{
    padding: 10px 20px 10px 15px;

    img{
      width: 30px;
    }
  }
}

.mobileNav{
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: #1E89B7;
    border-radius: 50%;
    color: white;
    line-height: 60px;
    font-size: 24px;
    z-index: 100;

    @media (max-width: 991px) {
        display: block;
    }
}
