.navbar{
  
  margin-bottom: 0;
  background-color: $dark-grey;

  .avatar{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .navbar-brand{
    padding: 10px 20px 10px 15px;

    img{
      width: 30px;
    }
  }
}