.panel-body{
  .avatar{
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;

    &.sm{
      width: 60px;
      height: 60px;
      margin: 10px auto;
    }
  }
}

.panel.margin-top{
  margin-top: 50px;
}

.panel{
  .thumbnail{
    margin-bottom: 10px;
  }

  p{
    margin-bottom: 20px;
  }
}