.sidebar {
    background-color: $grey;
    min-height: 100%;
    padding: 0;
    color: #f0f0f0;
    display: block;
    width: 65px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .2s all;

    @media (max-width: 375px) {
        left: -65px;

        &.active {
            left: 0;
        }
    }

    .sb-logo {
        background-color: $blue;
        height: 70px;
        margin-bottom: 10px;
        img {
            width: 45px;
            margin-top: 10px;
        }
    }
    .bottom-nav {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    p.lead {
        margin-top: 15px;
        padding: 0 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .info {
        padding: 0 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
    small {
        color: #808080;
        padding-bottom: 20px;
        display: block;
        a {
            color: #808080;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
    hr {
        border-top: 1px solid $light-grey;
        margin: 10px;
    }
    form {
        margin-bottom: 10px;
    }
    .navigation {
        margin-bottom: 20px;
        a:hover {
            text-decoration: none;
        }
        .avatar {
            margin-bottom: 10px;
        }
    }
    .popover {
        color: #333;
        width: 200px;
        p {
            a {
                color: #AAA;
                &:hover {
                    color: #333;
                }
            }
        }
    }
    .button {
        position: relative;
        text-align: center;
        height: 45px;
        width: 45px;
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        line-height: 45px;
        font-size: 16px;
        color: #808080;
        background-color: $light-grey;
        &:hover,
        &.active {
            &.orange {
                color: $orange;
            }
            &.blue {
                color: $blue;
            }
            &.green {
                color: $green;
            }
            &.purple {
                color: $purple;
            }
            background-color: $dark-grey;
        }
        &.add {
            background-color: $blue;
            color: $white;
            &:hover {
                background-color: $dark-blue;
            }
        }
        &.active {
            .triangle {
                display: block;
                position: absolute;
                top: 17px;
                right: -8px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7.5px 0 7.5px 8px;
                border-color: transparent transparent transparent $dark-grey;
            }
        }

        &.purple {
            @media (max-width: 375px) {
                display: none;
            }
        }
        
        .triangle {
            display: none;
        }
    }
}
