.toolbar{
  background-color: #F5F5F5;
  color: #333;
  padding: 0 30px;
  height: 71px;
  border-bottom: 1px solid #DDD;

  .avatar{
    display: inline-block;
    margin-top: -10px;
    margin-right: 15px;
  }

  .news{
    display: inline;
    a{
      font-weight: bold;
      color: #333;
    }
  }

  form{
    display: inline;
    height: 100%;

    .form-group{
      height: 100%;
    }

    input[type="text"]{
      background-color: transparent;
      height: 100%;
      font-size: 18px;
      font-weight: 100;
      border: 0;
      border-right: 1px solid #ddd;
      border-radius: 0;
      box-shadow: none;

      &:nth-child(3){
        border-right: none;
      }
    }

    #submit-search{
      border: 0;
      background-color: transparent;
      font-size: 18px;
      color: #CCC;
    }

  }

  .pages{
    line-height: 26px;
    font-size: 16px;

    a{
      color: $white;
      font-size: 26px;

      &:hover{
        color: $grey;
      }

      &.disabled{
        color: $grey;
      }
    }

    i{
      margin: 0 5px;
    }

    span{
      vertical-align: top;
    }
  }

  .form-control{
    border: 0;
  }

  .col-md-8{
    padding-left: 0;
  }

  .lead{
    line-height: 71px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }
}