.toolbar{
  background-color: #F5F5F5;
  color: #333;
  padding: 20px 30px;
  height: 71px;
  border-bottom: 1px solid #DDD;

  .avatar{
    display: inline-block;
    margin-top: -10px;
    margin-right: 15px;
  }

  .news{
    display: inline;
    a{
      font-weight: bold;
      color: #333;
    }
  }

  form{
    display: inline;
    vertical-align: text-bottom;
    margin-left: 10px;
  }

  .pages{
    line-height: 26px;
    font-size: 16px;

    a{
      color: $white;
      font-size: 26px;

      &:hover{
        color: $grey;
      }

      &.disabled{
        color: $grey;
      }
    }

    i{
      margin: 0 5px;
    }

    span{
      vertical-align: top;
    }
  }

  .form-control{
    border: 0;
  }

  .col-md-8{
    padding-left: 0;
  }

  .lead{
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }
}